**/data
**/__pycache__
**/.vscode
**/build
**/*.log
**/*.out
**/.DS_Store
**/.env
**/.idea
**/.*~
**/bin
**/target
*.csv

**/vendor
**/go.mod
**/go.sum
**/.deps_vendored

**/.m2

**/test
**/log
**/res